#Monday,
#Tuesday,
#Wednesday,
#Thursday,
#Friday {
  width: 18%;
  height: 200px;
  float: left;
  border: 1px solid black;
  padding: 2px;
  font-family: sans-serif;
  font-size: 12px;
}
.Sunny {
  background-color: yellow;
}
.Raining {
  background-color: rgb(82, 169, 198);
}
.Cloudy {
  background-color: #eee;
}
.Thunderstorm {
  background-color: #333;
  color: #fff;
}
